@using Microsoft.AspNetCore.Identity

    <ul class="navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {

            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" href="https://localhost:44380/Identity/Account/Manage/Index" title="Manage">Hello @User.Claims.FirstOrDefault(x => x.Type == "name").Value ! </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="Logout" asp-controller="Account">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" href="https://localhost:44380/Identity/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" href="https://localhost:44380/Identity/Account/Login">Login</a>
            </li>

        }

    </ul>
